.boton {
    width: 5rem;
    /* height: 3rem; */
    border:2px solid;
    padding: 2rem;
    border-radius: 40%;
}
.boton:hover {
    color: red
}

section.parte1 p::first-letter {
    font-size: 2rem
}
section.parte1 p::first-line {
    color: blueviolet
}

/* p::after{
    content:" Revisado"
} */

section.parte1 blockquote:before {
    content: url(../img/mundo.png) open-quote "Cita: ";
}

section.parte1 blockquote::after {
    content: close-quote;
}

section.parte2 :nth-child(3) {
    color: brown
}

section.parte2 p:nth-of-type(1)::first-letter {
    font-size: 2rem;
}