th, td {
    padding: 0.8rem 2rem;
}
th {
    background-color: mediumseagreen;
    color: magenta
}
table.destinos tr:nth-of-type(odd) td{
    background-color: yellowgreen;
}
table.destinos tr:nth-of-type(even) td{
    background-color: aquamarine;
}
table.destinos td:after {
    content: "%";
}